<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="WServiceSqlConnString" connectionString="Data Source=192.168.0.11; Initial Catalog=Road; uid=sa;pwd=ok;Integrated Security=true; Trusted_Connection = False;" providerName="System.Data.SqlClient"/>
    <add name="MySqlConnString" connectionString="Database='maintance';Data Source='192.168.0.69';User Id='root';Password='';charset='gb2312';pooling=true"></add>
  </connectionStrings>
  <appSettings>
    <add key="WServiceSqlConnString" value="Data Source=192.168.0.11; Initial Catalog=Road; uid=sa;pwd=ok;Integrated Security=true; Trusted_Connection = False;" />
    <add key="MySqlConnString" value="Database='maintance';Data Source='192.168.0.69';User Id='root';Password='';charset='gb2312';pooling=true"/>

    <add key="ComName" value="COM6"/>
    <add key="ComValue" value="115200"/>
    <add key="Host" value="http://192.168.0.11:9000"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ELDWebServiceSoap" />
        <binding name="MessageWebServiceSoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="ELDWebServiceSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.0.11:8094/ELDWebService.asmx"
        binding="basicHttpBinding" bindingConfiguration="ELDWebServiceSoap"
        contract="ff.ELDWebServiceSoap" name="ELDWebServiceSoap" />
      <endpoint address="http://192.168.0.11:8016/MessageWebService.asmx"
        binding="basicHttpBinding" bindingConfiguration="MessageWebServiceSoap"
        contract="MessageService.MessageWebServiceSoap" name="MessageWebServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>
